body {
     background-image: url("images/blackjack.jpg");
     background-size: cover;
     color: white;
     font-weight: bolder;
     text-align: right;
     margin-right: 60px;
     font-size: 25px;
     
     
     
     
}

h1 {
   color: burlywood;
}

#message-el {
    font-style: italic;
    
}

button {
    color: white;
    width: 100px;
    background: burlywood;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
