body {
     background-image: url("images/blackjack.jpg");
     background-size: cover;
     color: white;
     font-weight: bolder;
     text-align: right;
     margin-right: 60px;
     font-size: 25px;
     
     
     
     
}

h1 {
   color: burlywood;
}

#message-el {
    font-style: italic;
    
}

button {
    color: white;
    width: 100px;
    background: burlywood;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

   /* Additional CSS for responsive design */
   body, html {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h1 {
    font-size: 2rem;
}
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
}
